quart==0.17.0        # конкретная версия Quart
werkzeug==2.0.3      # совместимая версия Werkzeug
pandas==1.3.3        
aiofiles==0.7.0      # для работы с асинхронными файлами
aiohttp==3.8.1       # для асинхронных HTTP-запросов
numpy==1.21.2  # версию нужно подбирать под версию pandas
openpyxl==3.0.10


